body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  max-height: 100vh;
  color: #333;
}

::-webkit-scrollbar {
  width: 8px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(215, 215, 215);
}
.button-enabled {
  color: white;
  background-color: #0276c4;;
  cursor: pointer;
  border: none;
  outline: none;
}
.button-disabled{
  background-color: #bababa;
  cursor: default;
  border: none;
  outline: none;
}
#container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#container > header {
  border-top: 3px solid grey;
  margin-top:5px;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}
header aside {
  display: flex;

  flex: 0 1 10%;

  justify-content: flex-start;
}
#add-button{
  margin: 10px;
  outline: none;
  border: none;
  background-color: #008eed;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#add-button:hover{
  background-color: #0276c4;
}
#top-header{
  font-size: 35px;
  font-weight: 350;
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 25px 0;
}

input {
  border: none;
  outline: none;

}
button {
  margin:10;
  /* padding: 25px 10px; */
  font-size: 20px;
  cursor: pointer;
}

#imagePic{
}
#empty-container{
  user-select: none;
  margin-top: 50px;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #c2c2c2;

}
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(255, 253, 253, 0.922);
}
.popup {
  position: fixed;
  top:0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 9999;
}
#popup-header{
  display: flex;
  justify-content: flex-end;
}

.popup-contents-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  z-index: 10000;
  max-width: 50%;

}

#popup-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#popup-contents button{
  padding: 25px 10px;
  width: 800px;
}
#popup-contents-header{
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup-button{
  font-size: 35px;
  margin: 50px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-button:hover{
  background-color: #c3c3c3;
  color: #fff;
}

/* #choose-file{
  display:none;
} */
#file{
  display: none;
}
#choose-image{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
#choose-image:hover{
  text-decoration: underline;
}
#fileInput{
  visibility: hidden; 
  position: absolute;
}
#input-name{
  outline: 1px solid #adadad;
  background-color: white;
  height: 80px;
  font-size: 35px;
  width: 800px;
  margin: 10px;
}

.main-container{
  overflow-y: scroll;
  width: 100vw;
}

#date-container{
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

#date-container input{
  font-size: 20px;
}




.obi-date{
  display: flex;
  font-size: 13px;

}

.obi-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 15px;
}

#obi-name{
  
  font-weight:420;
}

.obi-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  transition: height 0.3s ease;
}
.obituary-list {

  width: 98%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0; 
  margin: 10px;
  list-style: none;
}

.obi-image{
  max-height: 500px;
}
#obituary-container {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
  min-height: 10px;

}
.obi-description {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.description-container{
}
